.citycontainer{
    margin-top: 40px;
    margin-bottom: 50px;
    height: 100vh;
    

}
.cardbox{
    box-shadow: 5px 5px 5px rgba(124, 122, 122, 0.05),-5px -5px 5px rgba(137, 135, 135, 0.05);
   height: 80vh;
   opacity: 85%;
    
}
.Cardimage{
    height: 40vh;
    padding: 10px;
}